/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Styling*/

html, body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    background-color: black;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
    color: #fff;
}

/*Utility Classes*/

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #00D1D1;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: #333;
    border-radius: 10px;
    border-style: inset;
    border-color: #333;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.footer-btn {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background: #333;
    padding: 4px 13px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 8px;
}

.btn:hover, .footer-btn:hover {
    background: #00D1D1;
    color: #333;
}

.bg-dark {
    background: #333;
    ;
}

.bg-light {
    background: #727272;
}

.bg-primary {
    background: #808080;
    ;
}

.clr {
    clear: both;
}

/*Navbar*/

#navbar {
    position: sticky;
    top: 0;
    background: black;
    color: #fff;
}

#navbar a {
    color: #aaa;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
    cursor: pointer;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 8px;
    text-align: center;
    margin: 10px 0.25rem;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background-color: #444;
    color: #00D1D1;
    border-radius: 8px;
}

/*Showcase*/

#showcase {
    background: url('../img/picture1.jpg') no-repeat center center/cover;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#showcase .showcase-content {
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding-top: 170px;
    height: 100%;
    width: 100%;
}

#showcase .showcase-content h1 {
    font-size: 40px;
    line-height: 1.2cm;
    padding-bottom: 10px;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7cm;
}

/* What I Do */

#what h2 {
    padding-top: 10px;
    text-align: center;
}

#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
    border: #333;
    border-style: ridge;
    border-radius: 8px;
    margin-right: 5px;
}

#what .items .item i {
    background: #00D1D1;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section: Who I am */

#who {
    display: flex;
    height: 70vh;
}

#who div {
    flex: 1;
}

#who h2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5vh;
}

#who p {
    padding: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

#who .who-img {
    background: url('../img/picture2.jpg') no-repeat center center/cover;
    background-size: 400px;
    background-color: #333;
}

#who h3 {
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

#who ul {
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

/*Skill*/

#skill {
    height: 70vh;
    background: url('../img/picture3.jpg') no-repeat center center/cover;
}

#skill  h2{
    padding-top: 80px;
    text-align: center;
}

#skill .container{
    padding-top: 30px;
    border: black;
    border-style: solid;
    border-radius: 8px;
    width: 50%;
    background: #727272;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: #eee;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #00D1D1;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #323232;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: #323232;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

/* CENTERING ONLY */

.skill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Footer*/

#main-footer {
    text-align: center;
    background: black;
    padding: 20px;
}

/*Animation*/
.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
  }
  